In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("Book1.csv")
df
del df[df.columns[0]]
df

                          County name Pop/mile2 Pop/km2
0           New York County, New York    69,468  26,822
1              Kings County, New York    35,369  13,656
2              Bronx County, New York    32,903  12,704
3             Queens County, New York    20,554   7,936
4    San Francisco County, California    17,179   6,633
5           Hudson County, New Jersey    13,732   5,302
6       Suffolk County, Massachusetts    12,417   4,794
7   Philadelphia County, Pennsylvania    11,379   4,394
8    Washington, District of Columbia     9,857   3,806
9                Alexandria, Virginia     9,314   3,596
10          Richmond County, New York     8,030   3,101
11         Arlington County, Virginia     7,994   3,086
12        City of Baltimore, Maryland     7,672   2,962
13           Essex County, New Jersey     6,212   2,398
14             Falls Church, Virginia     6,170   2,382
15            Manassas Park, Virginia     5,633   2,175
16              Cook County, Illinois     5,495   2,122
17           Union County, New Jersey     5,216   2,014
18      City of Saint Louis, Missouri     5,157   1,991
19            Nassau County, New York     4,705   1,817
20                  Norfolk, Virginia     4,486   1,732
21          Charlottesville, Virginia     4,242   1,638
22        Milwaukee County, Wisconsin     3,926   1,516
23            Denver County, Colorado     3,923   1,515
24          Bergen County, New Jersey     3,884   1,500
25                 Manassas, Virginia     3,828   1,478
26          Orange County, California     3,808   1,470
27             Fairfax City, Virginia     3,617   1,396
28                 Richmond, Virginia     3,415   1,318
29           Pinellas County, Florida     3,348   1,292
30           Ramsey County, Minnesota     3,342   1,290
31      Delaware County, Pennsylvania     3,039   1,173
32             Wayne County, Michigan     2,974   1,148
33               Portsmouth, Virginia     2,839   1,096
34               Winchester, Virginia     2,838   1,096
35                Lexington, Virginia     2,820   1,089
36             Harrisonburg, Virginia     2,808   1,084
37              Cuyahoga County, Ohio     2,800   1,081
38            DuPage County, Illinois     2,800   1,081
39           Fairfax County, Virginia     2,767   1,068
40               Dallas County, Texas     2,718   1,049
41         Passaic County, New Jersey     2,715   1,048
42                  Hampton, Virginia     2,674   1,032
43             Newport News, Virginia     2,634   1,017
44       Middlesex County, New Jersey     2,622   1,012
45             DeKalb County, Georgia     2,586     998
46     Los Angeles County, California     2,420     934
47               Harris County, Texas     2,402     928
48           Fredericksburg, Virginia     2,326     898
49          Camden County, New Jersey     2,322     896